@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    @apply max-w-[1320px] mx-auto px-4 md:px-0
}

@media (min-width: 1024px) {
    .hero {
        clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 80%, 100% 100%, 50% 85%, 0 100%, 0 0);
    }
}
@keyframes up-down {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px); /* Adjust the value as needed */
    }
}
.animated-img{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}